---
---

@import "minima";

/* your custom styles */
.plot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.plot-grid img {
  width: 100%;
  height: auto;
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.plot-grid img {
  cursor: pointer;
  transition: transform 0.2s;
}

.plot-grid img:hover {
  transform: scale(1.03);
}


.two-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 15px;
}

.two-grid img {
  width: 100%;
  height: auto;
}
``
